<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Voyage of the HMS Beagle" %></title>
    <link href='http://fonts.googleapis.com/css?family=IM+Fell+English' rel='stylesheet' type='text/css'>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
    <script src="../javascripts/angular-animate.min.js"></script>
    <script src="../javascripts/angapp.js"></script>
    <%= stylesheet_link_tag "normalize", "styles" %>

  </head>

  <body class="<%= page_classes %>"  ng-app="darwin">
    <div id="main">
      <div class="banner"></div>
      <a href="#">Restart</a>
      <!-- this is where content will be injected -->

      <!-- This is Index.html.erb-->

      <!-- This is the html view located in pages-->
      <div class="page {{ pageClass }}" ng-view></div>

    </div>

    <%= yield %>

    
    <nav class="slide-nav">
      <div class="drawer">
      </div>
      <ul>
        <li>
          <a href="#peru" data-index="0">
            <%= image_tag 'location-badge/cape-verde.png', :width => '80', :class => 'img-circle' %>
            <p> Peru </p>
          </a>
        </li>
        <li><a href="#riodejaneiro">Rio de Janeiro</a></li>
        <li><a href="#santacruz">Santacruz</a></li>
        <li><a href="#straitofmagellan">Strait of Magellan</a></li>
        <li><a href="#tahitinewzealand">Tahiti &amp; New Zealand</a></li>
        <li><a href="#tierradelfuego">Tierra Del Fuego</a></li>
      </ul>
    </nav>


    <%= javascript_include_tag  "jquery","tubular","main" %>
  </body>
</html>