<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "The Middleman" %></title>
    
    <%= stylesheet_link_tag "normalize", "styles" %>

  </head>

  <body class="<%= page_classes %>">
    <!-- Scrolling Side Navigation -->
    <div id="main-slide-nav" class="slide-nav sliding-nav">
      <a href="#" class="active" data-index="0">Cape de Verde Islands</a>
      <a href="#" data-index="0">Rio de Janeiro</a>
      <a href="#" data-index="0">Maldonado</a>
      <a href="#" data-index="0">Río Negro</a>
      <a href="#" data-index="0">Bahia Blanca</a>
      <a href="#" data-index="0">Buenos Ayres</a>
      <a href="#" data-index="0">St. Fe</a>
      <a href="#" data-index="0">Banda Oriental</a>
      <a href="#" data-index="0">Patagonia</a>
    </div>
    <%= yield %>
    <%= javascript_include_tag  "jquery","tubular","main" %>
  </body>
</html>