<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Voyage of the HMS Beagle" %></title>
    <link href='http://fonts.googleapis.com/css?family=IM+Fell+English' rel='stylesheet' type='text/css'>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
    <script src="../javascripts/angular-animate.min.js"></script>
    <script src="../javascripts/angapp.js"></script>
    <%= stylesheet_link_tag "normalize", "styles" %>

  </head>

  <body class="<%= page_classes %>"  ng-app="darwin">
    <div id="main">
      <div class="banner"></div>
      <a href="#">Restart</a>
      <!-- this is where content will be injected -->

      <!-- This is Index.html.erb-->

      <!-- This is the html view located in pages-->
      <div class="page {{ pageClass }}" ng-view></div>

    </div>
    <!-- Scrolling Side Navigation -->
    <%= yield %>

    <%= javascript_include_tag  "jquery","tubular","main" %>
  </body>
</html>